// Place all the styles related to the Tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tour-listing.well {
	padding-top: 0px;
}


.tour-listing {
	.inner-well {
		.booking-details {
			margin-top: 10px;
			padding-top: 10px;
			border-top: 1px dashed #bfbfbf;

			.striked {
				backgroud: #ff002a;
				color: red;
				text-decoration: line-through;
			}
		}
	}
}

.well-header {
	h3 {
		margin: 0px;
		border-bottom: 1px solid #bfbfbf;	
	}

	.date, .status {
		// color: #7f7f7f;
		font-weight: bold;
		position: relative;
		top: 10px;
		margin-left: 5px;
	}

	.btn-group {
		position: relative;
		top: 10px;
	}	
	
	margin-bottom: 10px;
}


